main > * {
    background-color: rgba(82, 70, 112, 0.7);
    border-radius: 10px;
    width: 95%;
    margin: 2% auto;
    padding: 1%;
}

@media only screen and (max-width: 400px) {
    .labelinput {
        display: flex;
        flex-direction: column;
    }
}

form {
    display: flex;
    flex-direction: column;
}

input, select, option, textarea {
    color: black;
}

.labelinput, #condiciones, input[type=submit] {
    padding: 1%;
}

.labeltextarea {
    display: flex;
    flex-direction: column;
}