@font-face {
    font-family: celesteFont;
    src: url(../font/Renogare-Regular.otf);
  }
  
* {
    font-family: celesteFont;
}

header {
    display: flex;
    flex: row;
    align-items: center;
}