/* Estilo general de la página  */

main > * {
    background-color: rgba(82, 70, 112, 0.7);
    border-radius: 10px;
    width: 95%;
    margin: 2% auto;
    padding: 1%;
}

/* Estilo adaptado al tamaño de la pantalla para mantener la legibilidad */

@media only screen and (max-width: 600px) {
    #movimientos {
        flex-direction: column;
    }

    main ol {
        margin: 0px auto;
    }

    p img {
        width: 50px;
    }
}

@media only screen and (min-width: 601px) {
    #movimientos {
        flex-direction: row;
    }

    main li {
        padding: 10px;
    }

    main ol {
        margin: 05px auto;
    }

    p img {
        width: 100px;
    }
}

p {
    text-align: justify;
}

/* Estilo de las distintas listas */

main ol {
    width: 90%;
    margin: 0px auto;
}

main ul {
    width: 90%;
}

main li {
    text-align: justify;
}

/* Estilo para imagen y texto en paralelo */

#movimientos {
    display: flex;
    align-items: center;
}

#movimientos img {
    width: 70%;
    max-width: 250px;
}

p img {
    margin: 0px 3%;
    float: right;
}

/* Estilo para la tabla */

table {
    margin: 0 auto;
    border-collapse: collapse;
}

th {
    background-color: #382d4b;
}

tr:nth-child(odd) {
    background-color: #4a3c64;
}

tr:nth-child(even) {
    background-color: #594878;
}