/* Estilo general de la página  */

main > *{
    background-color: rgba(82, 70, 112, 0.7);
    border-radius: 10px;
    margin: 2% auto;
}

main {
    display: flex;
    flex-wrap: wrap;
}

/* Estilo adaptado al tamaño de la pantalla para mantener la legibilidad */

@media only screen and (max-width: 400px) {
    section {
        width: 95%;
        flex-direction: column;
    }

    section img {
        padding-left: 1%;
        width: 75%;
    }

    section p {
        width: 96%;
    }
}

@media only screen and (min-width: 401px) and (max-width: 1000px) {
    section {
        width: 95%;
    }

    section img {
        padding-left: 1%;
        width: 38%;
    }

    section p {
        width: 58%;
    }
}

@media only screen and (min-width: 1001px) {
    section {
        width: 45%;
    }

    section img {
        padding-left: 1%;
        width: 38%;
    }

    section p {
        width: 58%;
    }
}

/* Estilo para las distintas secciones, técnicas */

section {
    /* overflow: auto; */
    height: auto;
    display: flex;
    align-items: center;
}

section img {
    min-width: 100px;
}

section p {
    padding: 0px 2%;
    text-align: justify;
}